Flask==3.0.3
Flask-CORS==4.0.0
PyGithub==2.1.1
python-dotenv==1.0.1
gunicorn==21.2.0
semgrep>=1.98.0  
Werkzeug==3.0.1
requests==2.31.0
flask-sqlalchemy==3.1.1
flask-migrate==4.0.5
psycopg2-binary==2.9.9
alembic==1.13.1
SQLAlchemy
psutil==5.9.8
gitpython==3.1.42
aiofiles==23.2.1
uvicorn==0.27.1
asgiref==3.7.2
aiohttp>=3.8.0
uvloop>=0.17.0
httptools>=0.5.0
sqlalchemy[asyncio]>=2.0.0
asyncpg>=0.27.0
psycopg2-binary
uvicorn==0.27.1
psutil==5.9.8
redis==5.0.1
Flask-Caching==2.1.0
marshmallow>=3.0.0
gevent-websocket==0.10.1
flask-socketio==5.3.6
gevent==25.4.2
boto3